.root{
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 21.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.app-jsx{
font-family: Integral CF;
font-size: 64px;
font-weight: 700;
line-height: 64px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.lms-jsx{
width: 91px;
height: 37.98px;
top: 0.01px;
gap: 0px;
opacity: 0px;
}

.card{
font-family: Satoshi;
font-size: 20px;
font-weight: 700;
line-height: 27px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.text-description .line-description{
font-family: Satoshi;
font-size: 20px;
font-weight: 700;
line-height: 27px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
















